body {
  font-family: serif;
}
/* aqui va la cabecera */
.cabecera {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px 80px;
  background-color: rgb(208, 208, 208);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cabecera .imagen {
  width: 220px;
  margin: 0px 0px;
  object-fit: cover;
}
.cabecera .enlaces {
  color: black;
  display: flex;
  flex-wrap: wrap;
}
.cabecera .enlaces a {
  width: auto;
  margin: auto;
  padding: 15px 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px rgb(70, 70, 70);
}

.cabecera .enlaces :hover {
  color: rgb(174, 125, 3);
}
.llamada {
  background-color: rgb(174, 125, 3);
  color: aliceblue;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.llamada:hover {
  color: aliceblue;
  background-color: rgb(47, 46, 46);
}
/* aqui va la seccion 1 */
.seccion1 {
  height: 500px;
}
.seccion1 img {
  height: 500px;
}
.titulo {
  position: relative;
  top: -80%;
  color: black;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
  text-shadow: 0 10px 8px rgb(47, 4d6, 46);
}
.h2 {
  top: -70%;
  color: black;
  text-align: center;
  font-size: 1.3em;
  font-weight: 900;
  text-shadow: 0 10px 8px rgb(47, 46, 46);
  position: relative;
}
/* aqui va la seccion 2 */
.seccion2 {
  width: 100%;
  height: auto;
  margin: auto;
}
.seccion2 .h3 {
  height: auto;
}
.seccion2 .h3 h2 {
  width: 70%;
  height: auto;
  margin: 100px auto;

  color: black;
  font-size: 3em;
  text-align-last: center;
}
.articulos {
  width: 85%;
  margin: auto;
  background-color: rgb(208, 208, 208);
  color: black;
  padding: 30px 0px;
  display: grid;
  gap: 20px;
  grid-auto-rows: 500px;
  grid-auto-columns: minmax(450px 500px);
  /* grid-template-columns: 450px 450px 450px; */
  justify-content: center;
  font-size: 1.1em;
  font: bold;
}

.articulos h4 {
  font-size: 2em;
}
.articulo1 {
}
.articulo1 img {
  height: 200px;
}
.articulo2 {
}
.articulo2 img {
  height: 200px;
}
.articulo3 {
}
.articulo3 img {
  height: 200px;
}
